{% extends 'base.html.twig' %}

{% block title %}Rental
{% endblock %}

{% block body %}
	<h2>Ma Location</h2>
	<section class="container my-3">
		<div class="container form-registration card shadow-lg border-success">
			<div class="row">
				<div class="col mt-3">
					<table class="table">
						<tbody>
							<tr>
								<th>Titre</th>
								<td>{{ rental.title }}</td>
							</tr>
							<tr>
								<th>Couverture</th>
								<td>
									<img src="{{ vich_uploader_asset(rental, 'imageFile')|default(asset('images/appartTemoin.jpg')) }}" class="img-fluid col-3" alt="Image de la couverture de la location">
								</td>
							</tr>
							<tr>
								<th>Description</th>
								<td>{{ rental.description }}</td>
							</tr>
							<tr>
								<th>Prix</th>
								<td>{{ rental.price }}</td>
							</tr>
							<tr>
								<th>Localisation</th>
								<td>{{ rental.location }}</td>
							</tr>
							<tr>
								<th>Équipement(s)</th>
								<td>
									{% if rental.equipments is defined and rental.equipments is not empty %}
										<ul class="equipments-name">
											{% for equipment in rental.equipments %}
												<li class="equipments-name-details">{{ equipment.name }}</li>
											{% endfor %}
										</ul>
									{% else %}
										<p>Aucun équipement disponible</p>
									{% endif %}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<a class="btn btn-profile col-2 mt-3" href="{{ path('app_user_profile') }}">Revenir à mon profil</a>
			<a class="btn btn-edit col-2 mt-3" href="{{ path('app_rental_edit', {'id': rental.id}) }}">Éditer ma location</a>
			{{ include('rental/_delete_form.html.twig') }}
		</section>
	{% endblock %}

