{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
	<section class="container my-3">
	<div class="container form-registration card shadow-lg border-success">
		<div class="row">
			<div class="col">

				{{ form_errors(registrationForm) }}
				{{ form_start(registrationForm) }}
                    <fieldset>
                    <legend>Mon Identité </legend>
				    {{ form_row(registrationForm.lastname) }}
                    {{ form_row(registrationForm.firstname) }}
                    {{ form_row(registrationForm.email) }}
                    </fieldset>
                    <fieldset>
                    <legend>Mes Coordonnées</legend>
                    {{ form_row(registrationForm.address) }}
                    {{ form_row(registrationForm.zip) }}
                    {{ form_row(registrationForm.city) }}
                    </fieldset>

				{{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
				
				<input type="file" class="my-3" >
				
				{{ form_row(registrationForm.RGPDConsent) }}
				<button type="submit" class="btn btn-registration col-2 ms-2 my-3 btn-outline-success">M'inscrire</button>
				{{ form_end(registrationForm) }}

			</div>
		</div>
		</div>
	</section>
{% endblock %}

