{% extends 'base.html.twig' %}

{% block title %}Messagerie
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ asset('styles/app.scss') }}">

	{{ encore_entry_link_tags('app') }}
{% endblock %}
{% block javascripts %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	{{ encore_entry_script_tags('app') }}
{% endblock %}
{% block body %}
	<div class="container py-5 px-4">


		<h2 class="display-4 title-chat">Messagerie</h2>
		{% if app.user %}
			<div
				class="row rounded-lg overflow-hidden shadow mt-4">

				<!-- Users box-->
				<div class="col-3 px-0">
					<div class="bg-white">

						<div class="bg-gray px-4 py-2 bg-light">
							<p class="h5 mb-0 py-1 parag-chat">Mes messages</p>
						</div>

						<div class="messages-box">
							<div class="list-group rounded-0">
								<a href="#" class=""></a>

								<div class="media-body ml-4">
									<div class="d-flex align-items-center justify-content-between mb-1">
										<h4 class="mb-0">{{ user.firstname }}
											{{ user.lastname }}</h4>
										<img src={{user.picture}} alt="user" width="50" class="rounded-circle">
									</div>

									{% for chat in chats %}
										<div class="border-div">
											<p class="name">{{ chat.sender.firstname }}
												{{ chat.sender.lastname }}</p>
											{% set sentences = chat.message|split('.') %}
											{% set firstSentence = sentences|first %}
											<a href="{{ path('app_chat', {'id': chat.id}) }}" data-sender={{ chat.sender.firstname ~ ' ' ~ chat.sender.lastname }} data-message="{{ chat.message }}" class="text-small">{{ firstSentence }}
												...</a>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endif %}


			<!-- Chat Box-->
			<div class="col-9 px-0">
				<div
					class="px-4 py-5 chat-box bg-white">
					<!-- Sender Message-->


					<div class="media w-50 mb-3">
						<h3 class="mb-0 username" id="username">{{ chats[0].sender.firstname }}
						</h3>

						{# <img src={{ chats[0].sender.picture }} alt="user" width="50" class="rounded-circle"> #}
						<div class="media-body ml-3">
							<div class="bg-light rounded py-2 px-3 mb-2 div-msg">
								<p class="text-small mb-0 text-muted" id="message-details"></p>
							</div>
						</div>
					</div>

				</div>
			</div>

			<script>
				document.addEventListener("DOMContentLoaded", function () {
var links = document.querySelectorAll(".text-small");
var messageDetails = document.getElementById("message-details");
var usernameDetails = document.getElementById("username");

links.forEach(function (link) {
link.addEventListener("click", function (e) {
e.preventDefault();
var messageContent = this.getAttribute("data-message");
var senderContent = this.getAttribute("data-sender");

messageDetails.textContent = messageContent;
usernameDetails.textContent = senderContent;
});
});
});
			</script>


			<!-- Typing area -->
			<form action="#" class="bg-light">
				<div class="input-group">
					<input type="text" placeholder="Type a message" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light">
					<div class="input-group-append">
						<button id="button-addon2" type="submit" class="btn btn-link">
							<i class="fa fa-paper-plane"></i>
						</button>
					</div>
				</div>
			</form>

		</div>
	</div>
</div>{% endblock %}
